"android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java" 
".flutter-plugins" 
".flutter-plugins-dependencies" 
.flutter-plugins 
.flutter-plugins-dependencies 
.dart_tool/ 
android/.gradle/ 
android/local.properties 
